<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Clearances</title>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript">
	</script>	
  </head>
  <body>
  	<h1>Clearances</h1>
  	
  	<form id="policies" action="#">
        	<label for="policies">Policy: </label>
			<select id="policiesId" onchange="policyChange()" name="policies">
    			<option value="0">select</option>
			</select>
	</form>
	<form id="clearances" action="#">
        	<label for="policies">Clearance: </label>
			<select id="clearanceId" onchange="clearanceChange()" name="clearances">
    			<option value="0">select</option>
			</select>
	</form>
	<p id="demo"></p>
	
	<input type="submit" value="submit" />

	<script>
		const ul = document.getElementById('policies');
		const list = document.createDocumentFragment();
		fetch("http://localhost:8090/policies")
			.then(response => response.json())
			.then(data => {
				policiesId.removeChild(policiesId.firstElementChild);
				for(let i = 0; i < data.length; i++) {
					let obj = data[i];
					var opt = document.createElement('option');
				    opt.value = i+1;
				    opt.innerHTML = obj.oid.id + " - " + obj.Name.substring(0,40);
				    policiesId.appendChild(opt);
				}
		})
    	.catch(function(error) { console.log(error); });
	
	function policyChange() {
		var oid = document.getElementById("policiesId").selectedOptions[0].innerHTML.split("-")[0];
		const ul = document.getElementById('policies');
		
		console.log("Policy change: " + oid)
  		document.getElementById("demo").innerHTML = "You selected: " + oid;
  		fetch("http://localhost:8090/policies/" + oid)
  		.then(response => response.json())
		.then(data => { 
			clearanceId.removeChild(clearanceId.firstElementChild);
			for(let i = 0; i < data.length; i++) {
				let obj = data[i];
				var opt = document.createElement('option');
				opt.value = data.lacv;
				opt.innerHTML = obj.name.substring(0,40);
				clearanceId.appendChild(opt);
			} // for
		});
	}
	
	function clearanceChange() {
		
	}
</script>

  </body>
</html>
